# Don't include git info
.git
.gitignore

# Node.js
frontend/node_modules
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Docker
.dockerignore

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Editor configs
.vscode/
.idea/

# Env files
.env
.env.*
